services:

  n8n:
    image: n8nio/n8n
    container_name: callbot_n8n
    restart: always
    ports:
      - "5678:5678"
    volumes:
      - ./n8n_storage:/home/node/.n8n
      - ./n8n_files:/home/node/.n8n-files

    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=secret
      - N8N_USER_MANAGEMENT_DISABLED=true
      - N8N_DEFAULT_TIMEOUT=30000

  chromadb:
    build: ./chroma
    container_name: chromadb
    restart: always
    ports:
      - "8001:8000"
    volumes:
      - ./chroma_data:/chroma
    environment:
      - CHROMA_TELEMETRY_ENABLED=false

volumes:

  n8n_storage:
